.svg-line {
  width: 100%;
  height: auto;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
  visibility: hidden;
}

@media (min-width: 1024px) {
  .svg-line {
    width: 55%;
    top: 50%;
  }
}

.bg-overlay {
  background-color: rgba(195, 167, 255, 0.3);
  background-image: radial-gradient(
    circle at 90% 90%,
    rgba(195, 167, 255, 0) 20%,
    rgba(104, 58, 204, 0.8) 80%
  );
}
